lombok.addLombokGeneratedAnnotation = true
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Autowired
lombok.copyableAnnotations += ru.vtblife.alternativedeal.common.qualifier.InternalAuthenticatedTemplate
lombok.copyableAnnotations += ru.vtblife.alternativedeal.common.qualifier.DadataRestTemplate
lombok.copyableAnnotations += ru.vtblife.alternativedeal.common.qualifier.ApplicationExecutorService
lombok.copyableannotations += ru.vtblife.alternativedeal.common.qualifier.SecondaryDataSource
